#myProgress {
    width: 800px;
    background-color: grey;
}

#myBar {
    width: 0px;
    height: 30px;
    background-color: rgb(0, 92, 128);
    text-align: center;
    line-height: 30px;
    color: white;
}
